.App {
  text-align: center;
}

img {
  max-width: 300px;
  max-height: 250px;
}
.product{
  display:flex;

}
.product-info{
  background:#D34736;
  padding: 0 10px 0 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}